* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

p {
    background-image: linear-gradient(yellow, green);
    color: transparent;
    background-clip: text;
    font-size: 2rem;
}

h1 {
    font-size: 4rem;
    color: rgb(5, 217, 5);
}